<div>
    <h1>Create Branch: </h1>
    <form>
        <div class='form-gorup'>
            <label for='branchName'>Branch Name: </label>
            <input type='branchName' required [(ngModel)]='branch.branchName' placeholder='Enter Branch Name' name='branchName'
            class='form-control' id='branchId' #branchName="ngModel">
            <div *ngIf="branchName.invalid && (branchName.dirty || branchName.touched)" >
                <small *ngIf="branchName.errors.required" class="alert alert-danger">Name is required</small>
            </div>
        </div>
        <div class='form-gorup'>
            <label for='address'>Branch Address: </label>
            <input type='address' [(ngModel)]='branch.address' placeholder='enter branch address' name='address'
            class='form-control' id='address'>
        </div>
        <div class='form-gorup'>
            <label for='phone'>Branch phone: </label>
            <input type='phone' [(ngModel)]='branch.phone' placeholder='enter branch phone' name='phone'
            class='form-control' id='phone'>
        </div>
        <div class='form-gorup'>
            <label for='location'>Branch Location: </label>
            <input type='location' [(ngModel)]='branch.location' placeholder='enter branch location' name='location'
            class='form-control' id='location'>
        </div>
        <div class='form-gorup'>
            <label for='date'>Date: </label>
            <input type='date' [(ngModel)]='branch.date' placeholder='enter branch date' name='date'
            class='form-control' id='date'>
        </div>
        <div class='form-gorup'>
            <label for='city'>City: </label>
            <input type='city' [(ngModel)]='branch.city' placeholder='enter branch city' name='city'
            class='form-control' id='city'>
        </div>
        <div class='form-gorup'>
            <label for='state'>State: </label>
            <input type='state' [(ngModel)]='branch.state' placeholder='enter branch state' name='state'
            class='form-control' id='state'>
        </div>
        <div class="form-group">
            <label for='branchManager'>Branch Manager:</label>
            <select type="branchManager" [(ngModel)]='branch.branchManager' name="branchManager" id="branchManager">
            <option value="0">--Managers--</option>
            <option *ngFor="let manager of managers" [ngValue]="manager">
                {{manager.managerName}}
            </option>
        </select>
        </div>
        <div>
        <button class='btn btn-success' (click)='createBranch()'>Create Branch</button>
        <button class='btn btn-danger' mdbWavesEffect>
            <a href="branch-control">Cancel</a></button>

    </div>
    </form>


</div>