<h1>Create Customer: </h1>
<div class="form1">
    
    <form>
        <div class='form-gorup'>
            <label  for='customerName'>customerName: </label>
            <input required type='customerName' [(ngModel)]='customer.customerName' placeholder='enter customerName' name='customerName'
            class='form-control' id='customerName' #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" >
                <small *ngIf="name.errors.required" class="alert alert-danger">Name is required</small>
            </div>
        </div>
        <div class='form-gorup'>
            <label for='fatherName'>fatherName: </label>
            <input type='fatherName' [(ngModel)]='customer.fatherName' placeholder='enter fatherName' name='fatherName'
            class='form-control' id='fatherName'>
        </div>
        <div class='form-gorup'>
            <label for='age'>Age: </label>
            <input type='age' [(ngModel)]='customer.age' placeholder='enter age' name='age'
            class='form-control' id='age'>
        </div>
        <div class='form-gorup'>
            <label for='date'>date: </label>
            <input type='date' [(ngModel)]='customer.date' placeholder='enter date' name='date'
            class='form-control' id='date'>
        </div>
        <div class='form-gorup'>
            <label for='sex'>sex: </label>
            <input type='sex' [(ngModel)]='customer.sex' placeholder='enter sex' name='sex'
            class='form-control' id='sex'>
        </div>
        <div class='form-gorup'>
            <label for='qualification'>qualification: </label>
            <input type='qualification' [(ngModel)]='customer.qualification' placeholder='enter qualification' name='qualification'
            class='form-control' id='qualification'>
        </div>
        <div class='form-gorup'>
            <label for='address'>address: </label>
            <input type='address' [(ngModel)]='customer.address' placeholder='enter address' name='address'
            class='form-control' id='address'>
        </div>
        <div class='form-gorup'>
            <label for='occupation'>occupation: </label>
            <input type='occupation' [(ngModel)]='customer.occupation' placeholder='enter occupation' name='occupation'
            class='form-control' id='occupation'>
        </div>
        <div class="form-group">
            <label for='passw'>Password:</label>
            <input type='passw' required minlength="6" [(ngModel)]='customer.passw' placeholder='Enter password' name='passw'
            class='form-control' id='passw' #passw="ngModel">
            <div *ngIf="passw.invalid && (passw.dirty || passw.touched)" >
                <small *ngIf="passw.errors.required" class="alert alert-danger">Password is required</small>
                <small *ngIf="passw.errors.minlength"  class="alert alert-danger">Password must be at least 6 characters long.</small>
            </div>
        </div>
        <div class='form-gorup'>
            <label for='email'>email: </label>
            <input type='email' [(ngModel)]='customer.email' placeholder='enter email' name='email'
            class='form-control' id='email'>
        </div>
        <div class='form-gorup'>
            <label for='premiumAmount'>premiumAmount: </label>
            <input type='premiumAmount' [(ngModel)]='customer.premiumAmount' placeholder='enter premiumAmount' name='premiumAmount'
            class='form-control' id='premiumAmount'>
        </div>

        <div class="form-group">
            <label for='agent'>Agent:</label>
            <select type="agent" [(ngModel)]='customer.agent' name="agent" id="agent">
            <option value="0">--Agents--</option>
            <option *ngFor="let agent of agents" [ngValue]="agent">
                {{agent.agentName}}
            </option>
        </select>
        </div>

        <div class="form-group">
            <label for='policy'>Policy:</label>
            <select type="policy" [(ngModel)]='customer.policy' name="policy" id="policy">
            <option value="0">--Policies--</option>
            <option *ngFor="let policy of policies" [ngValue]="policy">
                {{policy.policyType}}
            </option>
        </select>
        </div>
        <div class="form-group">
            <label for='branch'>Branch:</label>
            <select type="branch" [(ngModel)]='customer.branch' name="branch" id="branch">
            <option value="0">--Branches--</option>
            <option *ngFor="let branch of branches" [ngValue]="branch">
                {{branch.branchName}}
            </option>
        </select>
        </div>
        <div>
        <button class='btn btn-success' (click)='createCustomer()'>Create Customer</button>
        <button class="btn btn-danger" >
            <a href="customer-control">Cancel</a></button>
    </div>
        
    </form>
</div>