<h2>Your Policy: </h2>

<table class="table table-dark">

    <thead>
        <tr>
            <th>Policy ID</th>
            <th>Policy Term</th>
            <th>Policy Amount</th>
            <th>Policy Interest</th>
            <th>Date</th>
            <th>Policy Type</th>
            <th>Maturity Amount</th>
        </tr>
    </thead>
        <tbody>
            <tr>
                <td>{{policy.policyId}}</td>
                <td>{{policy.policyTerm}}</td>
                <td>{{policy.policyAmount}}</td>
                <td>{{policy.policyInterest}}</td>
                <td>{{policy.date}}</td>
                <td>{{policy.policyType}}</td>
                <td>{{policy.maturityAmount}}</td>
                

            </tr>
        </tbody>

</table>