<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div id="divWeatherMain" >
        <div class="weatherWidgetRow">{{WeatherData.temp_celcius}}°C</div>
        <div class="weatherWidgetRow">Feels Like: {{WeatherData.temp_celcius-2}}°</div>

    </div>
        <div class="nav-bar nav">
            <li class="nav-item"><a href="home" class="nav-link" >home</a></li>

            <li><a href="login" class='nav-link'>login</a></li>
            <li><a href="" class='nav-link'>logout</a></li>
        </div>
          
    
    </nav>
