<button type="button" mdbBtn color="primary" mdbWavesEffect>
    <a href="agent-control"><Agent</a></button>
<table class = "table table-dark">

    <thead>
        <tr>
            <th>Agent ID</th>
            <th>Agent Name</th>
            <th>Agent Father's Name</th>
            <th>Agent Age</th>
            <th>Sex</th>
            <th>Qualification</th>
            <th>Branch City</th>
            <th>Branch State</th>
            <th>Branch Address</th>
            <th>Branch Manager</th>
            
        </tr>
    </thead>
        <tbody>
            <tr *ngFor='let agent of agents; let agentId=index'>
                <td>{{agent.agentId}}</td>
                <td><span (keyup)="changeValue(agentId, 'agentName', $event)" (blur)="updateList(agentId, 'agentName', $event, agent)" contenteditable="true">{{agent.agentName}}</span></td>
                <td><span (keyup)="changeValue(agentId, 'fatherName', $event)" (blur)="updateList(agentId, 'fatherName', $event, agent)" contenteditable="true">{{agent.fatherName}}</span></td>
                <td><span (keyup)="changeValue(agentId, 'age', $event)" (blur)="updateList(agentId, 'age', $event, agent)" contenteditable="true">{{agent.age}}</span></td>
                <td><span (keyup)="changeValue(agentId, 'sex', $event)" (blur)="updateList(agentId, 'sex', $event, agent)" contenteditable="true">{{agent.sex}}</span></td>
                <td><span (keyup)="changeValue(agentId, 'qualification', $event)" (blur)="updateList(agentId, 'qualification', $event, agent)" contenteditable="true">{{agent.qualification}}</span></td>
                <td><span (keyup)="changeValue(agentId, 'branchCity', $event)" (blur)="updateList(agentId, 'branchCity', $event, agent)" contenteditable="true">{{agent.branchCity}}</span></td>
                <td><span (keyup)="changeValue(agentId, 'branchState', $event)" (blur)="updateList(agentId, 'branchState', $event, agent)" contenteditable="true">{{agent.branchState}}</span></td>
                <td><span (keyup)="changeValue(agentId, 'branchAddress', $event)" (blur)="updateList(agentId, 'branchAddress', $event, agent)" contenteditable="true">{{agent.branchAddress}}</span></td>
                <td><span> {{agent.branchManager.managerName}}</span></td>
                <td><button class='btn btn-danger' (click)='deleteAgent(agent)'>Delete Agent</button></td>
                <td><button class='btn btn-danger' (click)='clickMethod()'>Save</button></td>
            </tr>
        </tbody>

    


</table>

