<button type="button" mdbBtn color="primary" mdbWavesEffect>
    <a href="cpr-control"><CPR</a></button>
<table class="table table-dark">

    <thead>
        <tr>
            <th>Customer Policy ID</th>
            <th>Premium Type</th>
            <th>Date</th>
            <th>Nominee Name</th>
            <th>Relationship</th>
            <th>Agent Commision</th>
            
            
        </tr>
    </thead>
        <tbody>
            <tr *ngFor='let cpr of cprs; let customerPolicyId=index'>
                <td>{{cpr.customerPolicyId}}</td>
                <td><span (keyup)="changeValue(customerPolicyId, 'premiumType', $event)" (blur)="updateList(customerPolicyId, 'premiumType', $event, cpr)" contenteditable="true" >{{cpr.premiumType}}</span></td>
                <td><span (keyup)="changeValue(customerPolicyId, 'date', $event)" (blur)="updateList(customerPolicyId, 'date', $event, cpr)" contenteditable="true" >{{cpr.date}}</span></td>
                <td><span (keyup)="changeValue(customerPolicyId, 'nomineeName', $event)" (blur)="updateList(customerPolicyId, 'nomineeName', $event, cpr)" contenteditable="true" >{{cpr.nomineeName}}</span></td>
                <td><span (keyup)="changeValue(customerPolicyId, 'relationship', $event)" (blur)="updateList(customerPolicyId, 'relationship', $event, cpr)" contenteditable="true" >{{cpr.relationship}}</span></td>
                <td><span (keyup)="changeValue(customerPolicyId, 'agentCommPremiumAmt', $event)" (blur)="updateList(customerPolicyId, 'agentCommPremiumAmt', $event, cpr)" contenteditable="true" >{{cpr.agentCommPremiumAmt}}</span></td>
                
                <td><button class='btn btn-danger' (click)='deleteCPR(cpr)'>Delete</button></td>
                <td><button class='btn btn-primary' >Save</button></td>

            </tr>
        </tbody>

</table>