<div>
    <h1>Create Policy</h1>
    <form>
        <div class='form-gorup'>
            <label for='policyName'>policyName: </label>
            <input required type='policyName' [(ngModel)]='policy.policyName' placeholder='enter policyName' name='policyName'
            class='form-control' id='policyName' #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" >
                <small *ngIf="name.errors.required" class="alert alert-danger">Name is required</small>
            </div>
        </div>
        <div class='form-gorup'>
            <label for='policyTerm'>policy term: </label>
            <input type='policyTerm' [(ngModel)]='policy.policyTerm' placeholder='enter policyTerm' name='policyTerm'
            class='form-control' id='policyTerm'>
        </div>
        <div class='form-gorup'>
            <label for='policyAmount'>policyAmount: </label>
            <input required type='policyAmount' [(ngModel)]='policy.policyAmount' placeholder='enter policyAmount' name='policyAmount'
            class='form-control' id='policyAmount' #amount="ngModel">
            <div *ngIf="amount.invalid && (amount.dirty || amount.touched)" >
                <small *ngIf="amount.errors.required" class="alert alert-danger">Amount is required</small>
            </div>
        </div>
        <div class='form-gorup'>
            <label for='policyInterest'>policyInterest: </label>
            <input type='policyInterest' [(ngModel)]='policy.policyInterest' placeholder='enter policyInterest' name='policyInterest'
            class='form-control' id='policyInterest'>
        </div>
        <div class='form-gorup'>
            <label for='date'>date: </label>
            <input type='date' [(ngModel)]='policy.date' placeholder='enter date' name='date'
            class='form-control' id='date'>
        </div>
        <div class='form-gorup'>
            <label for='policyType'>policyType: </label>
            <input required type='policyType' [(ngModel)]='policy.policyType' placeholder='enter policyType' name='policyType'
            class='form-control' id='policyType' #type="ngModel">
            <div *ngIf="type.invalid && (type.dirty || type.touched)" >
                <small *ngIf="type.errors.required" class="alert alert-danger">Type is required</small>
            </div>
        </div>
        <div class='form-gorup'>
            <label for='maturityAmount'>maturityAmount: </label>
            <input type='maturityAmount' [(ngModel)]='policy.maturityAmount' placeholder='enter maturityAmount' name='maturityAmount'
            class='form-control' id='maturityAmount'>
        </div>
        <div><button class='btn btn-success' (click)='createPolicy()'>Create Policy</button>
            <button class="btn btn-danger" >
                <a href="policy-control">Cancel</a></button>
        </div>

    </form>

</div>