<form  novalidate  (ngSubmit) = "buy()" [formGroup] = "stripeForm" #f ="ngForm" >
    <div  class = "form-group" >
        <input  class = "form-control" type = "text" id = "name" formControlName = "name" placeholder = "your name" required >
    </div >

    <div  id = "card-element" class = "field" > </div >
    <div  * ngIf = "error" class = "alert alert-danger" >
        {{error}}
    </div >
    
    <button  class = "btn btn-outline-success" type = "submit" [disabled] = "!f.valid" >
        Pay
    </button >
</form >