<table  class = " table table-dark ">
    <thead >
      <tr >
        <th  scope = " col " > Name </th >
        <th  scope = " col " > Premium Amount </th >
        <th  scope = " col " > Pay </th >
      </tr >
    </thead >
    <tbody >
      <tr *ngFor = "let customer of customers" >
        <td > {{customer.customerName}} </td >
        
        <td > {{customer.premiumAmount}} $ </td >
        <td > <button  class = "btn btn-primary"
            routerLink="/payment-details/{{customer.customerId}}" >Pay</button > </td >
      </tr >
    </tbody >
  </table >