<div>
    <h1>Create Customer Policy Registration: </h1>
    <form>
    <div class='form-gorup'>
        <label for='premiumType'>Premium Type: </label>
        <input type='premiumType' required [(ngModel)]='cpr.premiumType' placeholder='enter premiumType' name='premiumType'
        class='form-control' id='premiumType' #premiumType="ngModel">
        <div *ngIf="premiumType.invalid && (premiumType.dirty || premiumType.touched)" >
            <small *ngIf="premiumType.errors.required" class="alert alert-danger">Type is required</small>
        </div>
    </div>
    <div class='form-gorup'>
        <label for='customerName'>Customer Name: </label>
        <input type='customerName' [(ngModel)]='cpr.customerName' placeholder='enter customer Name' name='customerName'
        class='form-control' id='customerName'>
    </div>
    <div class='form-gorup'>
        <label for='date'>date: </label>
        <input type='date' [(ngModel)]='cpr.date' placeholder='enter date' name='date'
        class='form-control' id='date'>
    </div>
    <div class='form-gorup'>
        <label for='nomineeName'>Nominee Name: </label>
        <input type='nomineeName' [(ngModel)]='cpr.nomineeName' placeholder='enter nomineeName' name='nomineeName'
        class='form-control' id='nomineeName'>
    </div>
    <div class='form-gorup'>
        <label for='relationship'>Relationship: </label>
        <input type='relationship' [(ngModel)]='cpr.relationship' placeholder='enter relationship' name='relationship'
        class='form-control' id='relationship'>
    </div>
    <div class='form-gorup'>
        <label for='agentCommPremiumAmt'>Agent Commission Premium Amount: </label>
        <input required type='agentCommPremiumAmt' [(ngModel)]='cpr.agentCommPremiumAmt' placeholder='enter commission amt' name='agentCommPremiumAmt'
        class='form-control' id='agentCommPremiumAmt' #thisone="ngModel">   
        <div *ngIf="thisone.invalid && (thisone.dirty || thisone.touched)" >
            <small *ngIf="thisone.errors.required" class="alert alert-danger">Commission is required</small>
        </div>



    </div>
    <div class='form-gorup'>
        <label for='termsConditions'>terms and conditions: </label>
        <input type='termsConditions' [(ngModel)]='cpr.termsConditions' placeholder='enter termsConditions' name='termsConditions'
        class='form-control' id='termsConditions'>
    </div>
<br>
    <div class="form-group">
        <label for='customer'>Customer:</label>
        <select type="customer" [(ngModel)]='cpr.customer' name="customer" id="customer">
        <option value="0">--Agents--</option>
        <option *ngFor="let customer of customers" [ngValue]="customer">
            {{customer.customerName}}
        </option>
    </select>
    </div>

    <div class="form-group">
        <label for='agent'>Agent:</label>
        <select type="agent" [(ngModel)]='cpr.agent' name="agent" id="agent">
        <option value="0">--Agents--</option>
        <option *ngFor="let agent of agents" [ngValue]="agent">
            {{agent.agentName}}
        </option>
    </select>
    </div>

    <div class="form-group">
        <label for='policy'>Policy:</label>
        <select type="policy" [(ngModel)]='cpr.policy' name="policy" id="policy">
        <option value="0">--Policies--</option>
        <option *ngFor="let policy of policies" [ngValue]="policy">
            {{policy.policyType}}
        </option>
    </select>
    </div>
    <button class='btn btn-success' (click)='createCPR()'>Create CPR</button>
    <button class="btn btn-danger" >
        <a href="cpr-control">Cancel</a></button>
</form>
    


</div>